* {
  margin: 0;
  padding: 0;

}

html {
  /* variables */

  /* gama de colores */
  --color-1: #2b3147;
  --color-2: #a6c9cb;
  --color-3: #976951;
  --color-4: #ceb8a1;
  --color-5: #f6ece0;


  /* asignación de colores por sector */
  --color-navbar: var(--color-3);
  --color-body: var(--color-5);
  --color-footer: var(--color-3);
  --color-texto-titulo: var(--color-3);
  --color-texto-claro: var(--color-5);
  --color-texto-oscuro: var(--color-1);

  /* tipos de letras */
  --tipo-texto-navbar: #2b3147;
  --tipo-texto-body: #c1adae;
  --tipo-texto-footer: #e9e4e0;
}